.mainContainer {
    background: #ebf6fc;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainContainer::after {
    content: '';
}

@media only screen and (min-width: 901px) {
    .mainContainer::after {
        flex: 0 1 30%;
    }
}

@media only screen and (max-width: 900px) {
    .mainContainer::after {
        flex: 0 1 48%;
    }
}

@media only screen and (max-width: 600px) {
    .mainContainer::after {
        flex: 0 1 100%;
    }
}
