.filmCard {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    border-color: black;
    padding: 10px 25px;
    background-color: rgb(232, 246, 250);
    min-height: 50rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.3s background;
}

.filmCard a:hover {
    text-decoration: none;
}
.filmCardImgWrap{
    height: 70%;
}

.filmCardImg {
    height: 100%;
}

.filmCardBody {
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.filmCardTitleWrap {
    margin: auto;
}

.filmCardTitle {
    min-height: 50%;
    width: 100%;
    font-size: 100%;
    padding: 2% 0;
    margin: auto;
}

.filmCardYear {
    height: 22%;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 0;
}

.filmCardGenresList {
    height: 28%;
    margin: auto;
    font-weight: bold;
    font-size: 90%;
    padding: 0.5rem 0;
}

@media only screen and (min-width: 901px) {
    .filmCard {
        min-width: 30%;
    }
}

@media only screen and (max-width: 900px) {
    .filmCard {
        min-width: 48%;
    }
}

@media only screen and (max-width: 600px) {
    .filmCard {
        min-width: 100%;
    }
}
