.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 34em);
    background-color: #ebf6fc;
}
.emoji {
    height: 85%
}

.emoji img{
    height: 90%;
}

.text{
    display: flex;
    height: 15%;
    margin: auto;
}

.text h2 {
    margin-top: 2vh;
    display: block;
    font-size: 3.3vh;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
