.searchBarContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.title,
.searchTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: black;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin-right: 1em;
}

.filterBarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    align-items: center;
}

.leftSide {
    display: flex;
    align-items: center;
}

.leftSideItem {
    margin-right: 1em;
    font-size: 1.4em;
    padding: 0.2em 1em;
}
.rightSideItem{
    font-size: 1.4em;
    padding: 0.2em 1em;
}

.input {
    margin-top: 1em;
    height: 2.8em;
    font-size: 1.4em;
    padding-left: 2em;
}
