.currentFilmContainer {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    width: 80%;
}

.poster {
    width: 30rem;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.titleContainer {
    display: flex;
}

.titleFilmName,
.ratingFilmName {
    font-size: 4em;
    font-weight: bold;
    margin-right: 1rem;
}

.ratingFilmName {
    border: 1px solid black;
    padding: 0.3em;
    border-radius: 50%;
    margin-left: 1em;
    margin-top: -0.2em;
}

.yearFilmName {
    text-align: left;
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 1rem;
}

.descriptionFilmName {
    font-size: 2.5em;
    text-align: left;
}
